
body {
  font-size: 87%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.CodeRay {
  margin-bottom: 1em;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #111; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: #125AA7; }
a:hover           { color: #000; }
blockquote        { color: #666; }

pre {
  background: #eee;
  border:     1px solid #ddd;
  margin-bottom: 1em;
}

hr {
  background: #ddd;
  color:      #ddd;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: #666; }
.alt    { color: #666; }

#header {
  color: #bbbbbb;
  font-size: 3em;
}
a.majorlink {
  font-size: 2em;
}

#links {
}
#feed {
}

.pilatus_entry {
  margin-top: 1.5em;
}
.pilatus_title {
  font-size: 2em;
}

/* EOF */
