/*
 * syntax.scss
 */
/* line 6, ../_scss/syntax.scss */
code {
  font-size: 14px;
  line-height: 15px;
}

/* line 12, ../_scss/syntax.scss */
div.highlight {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

/* line 23, ../_scss/syntax.scss */
.highlight {
  color: #929292;
  background: black;
  margin: 0;
  border: 0;
  padding: 0;
}
/* line 31, ../_scss/syntax.scss */
.highlight pre {
  margin: 0;
  border: 0;
  padding: 10px;
}
/* line 38, ../_scss/syntax.scss */
.highlight .lineno {
  color: #606060;
  background: #323232;
  margin-left: 0.5em;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  text-align: right;
  min-width: 21px;
}

/* line 167, ../_scss/syntax.scss */
.highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
  color: #565656;
  font-weight: bold;
}
/* line 171, ../_scss/syntax.scss */
.highlight .kc, .highlight .no, .highlight .nc {
  color: #B18733;
  font-weight: bold;
}
/* line 175, ../_scss/syntax.scss */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #DEF979;
  font-weight: bold;
}
/* line 178, ../_scss/syntax.scss */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #B18733;
  font-weight: bold;
}
/* line 181, ../_scss/syntax.scss */
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #73B874;
}
/* line 184, ../_scss/syntax.scss */
.highlight .nf {
  color: #75F877;
}
/* line 187, ../_scss/syntax.scss */
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
  color: #74D822;
}
/* line 190, ../_scss/syntax.scss */
.highlight .kt {
  color: #BC961B;
}
