
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="John Mettraux" />
    <link href="/atom.xml" rel="alternate" title="John Mettraux" type="application/atom+xml"/>

    <link rel="stylesheet" href="/css/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
  </head>

<body>

{{ content }}

  <script type="text/javascript">

    if (location.hostname != 'localhost' && location.hostname != '127.0.0.1') {

      // gauges

      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '50454a0e613f5d31dc000088');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();

      // ga

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31340996-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    }
  </script>
</body>

</html>

